CLIENT/CodeAssess/expCustom/default/flows/Setup_CodeAssess_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>New_CodeAssess_Account</name>
        <label>New CodeAssess Account</label>
        <locationX>459</locationX>
        <locationY>152</locationY>
        <defaultConnectorLabel>Not new CodeAssess User</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SETUPCODEASSESS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Customer_Account</targetReference>
            </connector>
            <label>Create</label>
        </rules>
    </decisions>
    <formulas>
        <name>ContactFullname</name>
        <dataType>String</dataType>
        <expression>{!$Record.FirstName} &amp; &apos; &apos; &amp; {!$Record.LastName}</expression>
    </formulas>
    <interviewLabel>Generate CodeAssess Account on Registration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate CodeAssess Account on Registration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Customer_Account</name>
        <label>Create Customer Account</label>
        <locationX>695</locationX>
        <locationY>148</locationY>
        <connector>
            <targetReference>Transfer_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ContactFullname</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Transfer_Account</name>
        <label>Transfer Account</label>
        <locationX>898</locationX>
        <locationY>145</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Create_Customer_Account</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>New_CodeAssess_Account</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>